.select-container {
  position: relative;
  padding: 30px;
  background-image: url('./พื้นหลัง/SelectBG_light.gif');
  background-size: cover;
  background-position: center;
  min-height: 91vh;
  color: white;
  text-align: center;
  overflow: hidden;
}

.select-title {
  width: 300px;
  margin: 0 auto 30px;
}

.select-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.select-character-side {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 50px;
}

.select-character-card {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.select-character-icon {
  background-color: rgba(0, 0, 0, 0.75);
  
  width: 140px;
  height: 140px;
  object-fit: contain;
  border-radius: 10px;
}

.select-character-card.active {
  box-shadow: 0 0 10px 20px rgba(112, 14, 14, 0.873);
}

.select-character-card.locked img {
  filter: grayscale(100%);
}

/* กล่องกลางแบ่งซ้ายขวา */
.center-box {
  background-color: rgba(0, 0, 0, 0.75);
  
  padding: 25px;
  border-radius: 15px;
  width: 750px;
  height: 430px;
  max-width: 95%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;   /* ✅ ทำให้ปุ่มด้านขวากลางแนว Y */
  

  position: relative;
  top: -26px;
}

/* ด้านซ้าย */
.left-input {
  width: 65%;
}

.select-selected-char-img {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
  border-radius: 8px;
  font-size: 14px;
  padding: 15px;
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}

input {
  padding: 12px;
  width: 75px;
  border-radius: 10px;
  font-size: 16px;
}

/* ด้านขวา - ปุ่ม Auto / OK / Cancel */
.right-button {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin: 0;
  padding: 0;
}

.right-button img {
  width: 170px;
  height: auto;
  max-height: 50px;
  margin: 0;
  padding: 0;
  display: block;
  line-height: 0;
  object-fit: contain;
}

.auto-btn, .ok-btn, .cancel-btn {
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s;
}

.auto-btn:hover, .ok-btn:hover, .cancel-btn:hover {
  transform: scale(1.1);
}

/* ปุ่ม ยืนยันทั้งหมด */
.select-confirm-btn {
  width: 150px;
  max-width: 90%;
  margin: -20px auto 0;
  cursor: pointer;
  transition: transform 0.3s ease;
 
}

.select-confirm-btn:hover {
  transform: scale(1.05);
}

/* ปุ่ม Cancel เฉพาะ */
.cancel-btn {
  width: 120px;
}
