.select-container {
  position: relative;
  padding: 30px;
  background-image: url('./พื้นหลัง/SelectBG.webp');
  background-size: cover;
  background-position: center;
  min-height: 91vh;
  color: white;
  text-align: center;
}

.select-title {
  width: 300px;
  margin: 0 auto 50px;
}

.select-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.select-character-side {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.select-character-icon {
  width: 200px;   /* ปรับให้เล็กลง */
  height: 200px;  /* ปรับให้เล็กลง */
  cursor: pointer;
  transition: transform 0.3s;
}

.select-selected-char-img {
  width: 100px;  /* ลดขนาดจากเดิม */
  height: auto;
  object-fit: contain;
  margin-bottom: 20px;
}
.center-box {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 25px;
  border-radius: 15px;
  width: 500px;
  max-width: 90%;
  text-align: center;
  position: relative;
  top: 200px;  
  left: 270px;
  transform: translate(-50%, -50%);
  z-index: 1050;  /* เพิ่ม z-index ให้กล่องอยู่ด้านบนสุด */
  
}


.selected-char-img {
  width: 100px;         /* ✅ ลดจาก 280px เหลือ 220px */
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

textarea {
  display: block;
  margin: 10px auto;
  padding: 15px;
  width: 400px;
  height: 200px;
  resize: none;
  border-radius: 8px;
  font-size: 18px;
}

/* กล่อง input และปุ่มเรียงซ้าย-ขวา */
.input-btn-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  width: 90%;
}

/* input ค่าพลัง */
input {
  padding: 15px;
  width: 100px;
  border-radius: 8px;
  font-size: 18px;
}

/* ปุ่ม Action */
.auto-btn, .ok-btn {
  background-color: #ff9800;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  min-width: 80px;
}

.auto-btn {
  background-color: crimson;
}

.auto-btn:hover {
  background-color: #b1001c;
}

.ok-btn:hover {
  background-color: #e67e00;
}

/* ปุ่มยืนยัน */
.select-confirm-btn {
  margin-top:-10px;
  padding: 14px 35px;
  font-size: 20px;
  background-color: gold;
  color: black;
  border-radius: 12px;
  border: 2px solid #fff;
}

.select-confirm-btn:hover {
  background-color: #e6c300;
}
.completed {
  opacity: 0.;
}
.character-icon.completed {
  opacity: 0.9;
  filter: grayscale(100%); /* ขาวดำ */
}
