.select-container {
  position: relative;
  padding: 30px;
  background-image: url('./พื้นหลัง/SelectBG.webp');
  background-size: cover;
  background-position: center;
  min-height: 91vh;
  color: white;
  text-align: center;
}

.select-title {
  width: 300px;
  margin: 0 auto 50px;
}

.select-layout {
  display: flex;
  justify-content: center;  /* ทำให้ตัวละครอยู่กลาง */
  align-items: center;
  gap: 20px;  /* ลดช่องว่างระหว่างตัวละคร */
}

.select-character-side {
  display: flex;
  flex-direction: column;
  gap: 100px;  /* ลดช่องว่างระหว่างตัวละคร */
  margin: 0 200px; /* ขยับให้เข้ามาใกล้กลางมากขึ้น */
}

.select-character-card {
  cursor: pointer;
  transition: transform 0.3s;
  padding: 10px;  /* เพิ่มระยะห่างรอบๆ ตัวละคร */
  background-color: rgba(255, 255, 255, 0.2);  /* พื้นหลังโปร่งใส */
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);  /* เงาจางๆ */
}

.select-character-icon {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
}

.select-character-card.selected {
  background-color: rgba(74, 74, 74, 0.4);  /* เปลี่ยนพื้นหลังเมื่อเลือก */
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.8);  /* เงาที่ชัดขึ้นเมื่อเลือก */
}


.center-box {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 25px;
  border-radius: 15px;
  width: 400px;
  height: 475px;
  max-width: 90%;
  text-align: center;
  position: relative;
  z-index: 1050;
  margin: 0 auto;
  top: -40px;  /* ปรับค่า top ให้ใกล้กับด้านบนมากขึ้น */
}

.selected-char-img {
  width: 150px;
  height: auto;
  object-fit: contain;
  margin-bottom: 20px;
}

.input-btn-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  width: 80%;
}

.auto-btn, .ok-btn {
  background-color: #ff9800;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.auto-btn {
  background-color: crimson;
}

.auto-btn:hover {
  background-color: #b1001c;
}

.ok-btn:hover {
  background-color: #e67e00;
}

.select-confirm-btn {
  margin-top: 10px;
  padding: 14px 35px;
  font-size: 20px;
  background-color: gold;
  color: black;
  border-radius: 12px;
  border: 2px solid #fff;
}

.select-confirm-btn:hover {
  background-color: #e6c300;
}

.select-selected-char-img {
  width: 100px;   /* ลดขนาดของตัวละครตรงกลาง */
  height: auto;
  object-fit: contain;
  margin-bottom: 20px;
}


textarea {
  display: block;
  margin: 10px auto;
  padding: 15px;
  width: 350px;    /* ปรับให้กว้างขึ้น */
  height: 200px;   /* ปรับความสูง */
  resize: none;
  border-radius: 8px;
  font-size: 16px;
}

input {
  padding: 12px;
  width: 70px;    /* ปรับขนาดช่องกรอกตัวเลข */
  margin: 10px auto;  /* จัดระยะห่างให้เหมาะสม */
  border-radius: 10px;
  font-size: 16px;
}
