.image1 {
  width: 500px;  /* ปรับขนาดความกว้าง */
  height: auto;  /* รักษาอัตราส่วนของรูป */
  transition: transform 0.3s ease; /* เพิ่มเอฟเฟกต์เมื่อโฮเวอร์ */
}

.image1:hover {
  transform: scale(1.1); /* ทำให้รูปขยายขึ้น 10% เมื่อโฮเวอร์ */
}
  
  .image1:hover {
    content: url('./ปุ่ม/Button_\ 1.2.png'); /* เปลี่ยนรูปเมื่อ hover */
    /*opacity: 0.5*/
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 3));
  }
  