.waiting-room {
  background-color: #222;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-image: url('./พื้นหลัง/Bg_wait.webp'); /* เพิ่มภาพพื้นหลัง */
  background-size: cover;
  background-position: center;
  text-align: center;
}

.waiting-room  {
  margin-bottom: 20px;
}

.waiting-room input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 80%;
  max-width: 300px;
  font-size: 16px;
}

.waiting-room button {
  padding: 10px 20px;
  background-color: #17a917; /* ปรับสีปุ่ม */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  max-width: 300px;
  margin-top: 10px;
}

.waiting-room button:hover {
  background-color: #88e04e; /* สีเมื่อ hover */
}

.title2-logo {
  width: 100%; /* ปรับให้ขนาดของรูปภาพไม่เกินขนาดของพื้นที่ที่กำหนด */
  max-width: 250px; /* ตั้งขีดจำกัดความกว้างสูงสุดของรูปภาพ */
  height: auto; /* คงอัตราส่วนของภาพเมื่อปรับขนาด */
  display: block; /* ทำให้รูปแสดงในลักษณะบล็อก */
  margin: 0 auto; /* ทำให้รูปภาพอยู่กึ่งกลาง */
}
